.awcache/
dimension.bot.json
.idea/
node_modules/
web-dist/
logs/
config/development.yaml
config/production.yaml
db/*.db
start.sh
config/integrations/*_development.yaml
config/integrations/*_production.yaml
build/
dimension.db
src/**/*.js
src/**/*.js.map
web/**/*.js
web/**/*.js.map
